{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static 'css_js/bower_components/bootstrap/dist/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css_js/bower_components/font-awesome/css/font-awesome.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css_js/dist/css/AdminLTE.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css_js/dist/css/skins/_all-skins.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css_js/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %} ">
    
    <script src=" {% static 'css_js/bower_components/jquery/dist/jquery.min.js' %} "></script>
  <script src=" {% static 'css_js/bower_components/bootstrap/dist/js/bootstrap.min.js' %} "></script>
  <script src=" {% static 'css_js/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %} "></script>
  <script src=" {% static 'css_js/screenfull/screenfull.js' %} "></script>
  <script src=" {% static 'css_js/dist/js/adminlte.min.js' %} "></script>
  <script src=" {% static 'css_js/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %} "></script>
</head>
<style>
    .table.table-striped tr th,
    .floatThead-container table tr th,
    .floatThead-container colgroup {
        background: #117a8b;
        color: #fff;
    }

    .mytablediv {
        overflow: scroll;
        width: 100%;
    }
</style>

<body class="hold-transition">
    <div>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2"></div>
            </div>
        </section>
        <style>
            thead {
                display: table-header-group
            }

            tfoot {
                display: table-row-group
            }

            tr {
                page-break-inside: avoid
            }
        </style>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-2">
                            <div class="col-sm-11">
                                <div class="callout callout-info" align="center">
                                    <h3>ASRS Usage Detail Report From 2021-05-24 To 2021-05-24</h3>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="callout callout-info" align="center">
                                    <button class="btn btn-info" id="btnprint">
                                        <i class="fa fa-print"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mytablediv">
                        <div class="" id="div_print">
                            <h3 align="center" id="printheading" style="display: none;">ASRS Usage Detail Report From
                                2021-05-24 To 2021-05-24</h3>
                            <table class="table table-bordered table-striped sticky-enabled">
                                <thead>
                                    <tr>
                                        <th style="text-align:left;">Date</th>
                                        <th style="text-align:left;">Shift</th>
                                        <th style="text-align:center;">Pallet Id</th>
                                        <th style="text-align:center;">Weight</th>
                                        <th style="text-align:center;">Location Id</th>
                                        <th style="text-align:center;">Process</th>
                                        <th style="text-align:center;">Start Time</th>
                                        <th style="text-align:center;">End Time</th>
                                        <th style="text-align:center;">Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6392 </td>
                                        <td style="text-align:center;">396.00</td>
                                        <td style="text-align:center;">R119</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">05:59:35</td>
                                        <td style="text-align:center;">06:02:01</td>
                                        <td style="text-align:center;">00:02:26</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6273 </td>
                                        <td style="text-align:center;">329.10</td>
                                        <td style="text-align:center;">L207</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">06:02:07</td>
                                        <td style="text-align:center;">06:08:32</td>
                                        <td style="text-align:center;">00:06:25</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6356 </td>
                                        <td style="text-align:center;">420.00</td>
                                        <td style="text-align:center;">R127</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">06:08:37</td>
                                        <td style="text-align:center;">06:11:29</td>
                                        <td style="text-align:center;">00:02:52</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6424 </td>
                                        <td style="text-align:center;">371.20</td>
                                        <td style="text-align:center;">L719</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">06:11:37</td>
                                        <td style="text-align:center;">06:26:04</td>
                                        <td style="text-align:center;">00:14:27</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6648 </td>
                                        <td style="text-align:center;">370.80</td>
                                        <td style="text-align:center;">R310</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">06:26:34</td>
                                        <td style="text-align:center;">06:28:49</td>
                                        <td style="text-align:center;">00:02:15</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6273 </td>
                                        <td style="text-align:center;">294.10</td>
                                        <td style="text-align:center;">L207</td>
                                        <td style="text-align:center;">in</td>
                                        <td style="text-align:center;">06:28:55</td>
                                        <td style="text-align:center;">06:30:34</td>
                                        <td style="text-align:center;">00:01:39</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6648 </td>
                                        <td style="text-align:center;">418.80</td>
                                        <td style="text-align:center;">R310</td>
                                        <td style="text-align:center;">in</td>
                                        <td style="text-align:center;">06:44:43</td>
                                        <td style="text-align:center;">06:46:55</td>
                                        <td style="text-align:center;">00:02:12</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6011 </td>
                                        <td style="text-align:center;">94.00</td>
                                        <td style="text-align:center;">L403</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">06:47:01</td>
                                        <td style="text-align:center;">06:48:58</td>
                                        <td style="text-align:center;">00:01:57</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6285 </td>
                                        <td style="text-align:center;">333.20</td>
                                        <td style="text-align:center;">L107</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">06:49:04</td>
                                        <td style="text-align:center;">07:05:01</td>
                                        <td style="text-align:center;">00:15:57</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6241 </td>
                                        <td style="text-align:center;">230.60</td>
                                        <td style="text-align:center;">L227</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">07:05:07</td>
                                        <td style="text-align:center;">07:07:59</td>
                                        <td style="text-align:center;">00:02:52</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6405 </td>
                                        <td style="text-align:center;">257.20</td>
                                        <td style="text-align:center;">L907</td>
                                        <td style="text-align:center;">out</td>
                                        <td style="text-align:center;">07:08:05</td>
                                        <td style="text-align:center;">07:17:41</td>
                                        <td style="text-align:center;">00:09:36</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6285 </td>
                                        <td style="text-align:center;">284.40</td>
                                        <td style="text-align:center;">L403</td>
                                        <td style="text-align:center;">in</td>
                                        <td style="text-align:center;">07:17:49</td>
                                        <td style="text-align:center;">07:19:19</td>
                                        <td style="text-align:center;">00:01:30</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:center;">6405 </td>
                                        <td style="text-align:center;">257.20</td>
                                        <td style="text-align:center;">L107</td>
                                        <td style="text-align:center;">in</td>
                                        <td style="text-align:center;">07:19:25</td>
                                        <td style="text-align:center;">07:28:19</td>
                                        <td style="text-align:center;">00:08:54</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">2</td>
                                        <td style="text-align:center;">0</td>
                                        <td style="text-align:center;">0.00</td>
                                        <td style="text-align:center;">0</td>
                                        <td style="text-align:center;">0</td>
                                        <td style="text-align:center;"></td>
                                        <td style="text-align:center;"></td>
                                        <td style="text-align:center;"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">24-05-2021</td>
                                        <td style="text-align:left;">3</td>
                                        <td style="text-align:center;">0</td>
                                        <td style="text-align:center;">0.00</td>
                                        <td style="text-align:center;">0</td>
                                        <td style="text-align:center;">0</td>
                                        <td style="text-align:center;"></td>
                                        <td style="text-align:center;"></td>
                                        <td style="text-align:center;"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;color: #088A08;" colspan="3"><b>Total Transaction :
                                                15</b></td>
                                        <td style="text-align:center;color: #088A08;"><b>4056.6</b></td>
                                        <td style="text-align:left;color: #088A08;" colspan="4"><b></b></td>
                                        <td style="text-align:center;color: #088A08;"><b>01:13:02</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

{% endblock %}